[Unit]
Description=Themepark Axum/Leptos Server
After=network.target

[Service]
Type=simple
User=jhs
WorkingDirectory=/home/jhs/themepark
ExecStart=/home/jhs/themepark/target/release/server
Restart=on-failure
RestartSec=5
Environment="RUST_LOG=info"

[Install]
WantedBy=multi-user.target
